
@import "base/reset";
@import "base/fonts";
//@import "../node_modules/slick-carousel/slick/slick.scss";
@import "../node_modules/magnific-popup/dist/magnific-popup";
//@import "../node_modules/retinajs/dist/_retina.scss";

@import "base/common";
body{
    background: #cc0000;
    @include respond-to(mobile){
        padding-bottom: 15px;
    }
}
.container{
    position: relative;
    margin: 0 auto;
    @include respond-to(desktop){
        width: 1170px;
    }
    @include respond-to(mobile) {
        width: 100%;
    }
}
.col{
    float: left;
    &--1{
        position: relative;
        width: 56%;
        padding-right: 19px;
        padding-left: 4px;
        @include respond-to(mobile){
            width: 50%;
            padding-right: 16px;
        }
    }
    &--2{
        position: relative;
        padding-left: 39px;
        width: 44%;
        @include respond-to(mobile){
            padding-left: 16px;
            width: 41%;
        }
    }
}
.form {
    &__error{
        width: 151px;
        height: 25px;
        background-color: transparent;
        &--left{
            background: url("../img/error-bg.png") left top no-repeat;
            left: -160px;
            top: 64px;
            @include respond-to(mobile){
                left: 4px;
                top: 102px;
                background: #fff;
                width: 145px;
                border-radius: 5px;
                padding: 4px 11px;
                height: auto;
            }
        }
        &--right{
            background: url("../img/error-bg-right.png") left top no-repeat;
            right: -160px;
            top: 64px;
            border-radius: 3px;
            text-align: center;
            @include respond-to(mobile){
                left: 4px;
                top: 102px;
                background: #fff;
                width: 145px;
                border-radius: 5px;
                padding: 4px 11px;
                height: auto;
            }
        }
        &--right-2{
            background: url("../img/error-bg-right.png") left top no-repeat;
            right: -160px;
            top: 18px;
            border-radius: 3px;
            text-align: center;
            @include respond-to(mobile){
                left: 4px;
                top: 57px;
                background: #fff;
                width: 145px;
                border-radius: 5px;
                padding: 4px 11px;
                height: auto;
            }
        }
        color: #cc0000;
        font-family: Roboto;
        font-size: 12px;
        position: absolute;

        padding: 5px 9px;
        display: none;
        &.open{
            display: block;
        }

    }
    &__group {
        margin: 25px 0;
        display: block;
        position: relative;
    }
    &__btn{
        box-shadow: 0 4px 4px rgba(130, 0, 0, 0.5);
        border-radius: 4px;
        background-color: #29ab63;
        width: 100%;
        display: block;
        color: #ffffff;
        font-family: Roboto;
        font-size: 21px;
        font-weight: 700;
        line-height: 29px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        padding: 13px;
        &:hover{
            box-shadow: 0 4px 4px rgba(130, 0, 0, 0.5);
            border-radius: 4px;
            background-color: #37d67e;
            transition: 0.3s;
        }
    }
    &__remove-btn{
        display: inline-block;
        position: absolute;
        top: 62px;
        right: -43px;
        background: transparent;
        border: none;
        background: url(../img/icon-remove.svg) no-repeat 50% 50%;
        height: 26px;
        width: 26px;
        cursor: pointer;
        @include respond-to(mobile){
            right: -3px;
        }
    }
    &__label{
        height: 44px;
        color: #fff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
        display: block;
        padding-top: 0;
        line-height: 19px;
        @include respond-to(mobile){
            font-size: 13px;
        }
        &--adults{
            font-size: 17px;padding-top: 6px;letter-spacing: 0px;
            @include respond-to(mobile){
                font-size: 12px;
                padding-top: 12px;
            }
        }
    }
    &__text-input {
        height: 42px;
        width: 100%;
        border-radius: 4px;
        padding: 0 10px;
        border: 1px solid #cccccc;
        background-color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        margin-top: 2px;
        &:focus {
            border-color : $hblue;
        }
    }
    &__number-input {

        height: 44px;
        text-align: center;
        width: 100%;
        padding: 0 10px;
        border-radius: 4px;
        border: 1px solid #cccccc;
        background-color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        &:focus {
            border-color : $hblue;
        }

    }
    &__btn-wrapper{
        margin: 45px 0 31px;
    }
}

.invite{
    min-height: 100vh;
    &__container{
        background: url(../img/header.jpg) no-repeat top center ;
    }
    &__logo{
        position: absolute;
        left: calc(50% - 76px);
        z-index: 2;
        top: 50px;
    }
    &__content{
        width: 450px;
        margin: 0 auto;
        padding: 144px 10px 0;
        @include respond-to(mobile){
            width: 100%;
            padding: 130px 8px 0 8px;
        }
    }
    &__add-more-wrapper{
        margin: 22px 0 24px;
        padding-left: 5px;
        font-size: 17px;
        letter-spacing: 0.6px;
    }
    &__header{
        color: #ffffff;
        //font-family: Roboto;
        font-family: "Wuerth Bold";
        font-size: 28px;
        font-weight: 700;
        line-height: 29px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 31px;
    }
    &__add-more{
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 2px dashed #fff;
        display: inline-block;
        padding-bottom: 8px;
    }
    &__pdf-link-wrapper{
        text-align: center;
        margin-top: 24px;
    }
    &__pdf-link{
        color: #ffffff;
        font-family: Roboto;
        font-size: 21px;
        font-weight: 700;
        line-height: 29px;
        border-bottom: 2px solid #fff;
        cursor: pointer;
        &:hover{
            border: none;
            transition: 0.3s;
        }
        @include respond-to(mobile){
            font-size: 24px;
        }
    }

}
.success{
    min-height: 100vh;
    text-align: center;
    display: none;
    &__logo-wrapper{
        padding-top: 50px;
        margin-bottom: 82px;
        @include respond-to(mobile){
            padding-top: 36px;
            margin-bottom: 36px;
        }
    }
    &__thanks{
        color: #ffffff;
        //font-family: Roboto;
        font-family: "Wuerth Bold";
        font-size: 25px;
        font-weight: 700;
        line-height: 29px;
        text-transform: uppercase;
    }
    &__divider{
        width: 241px;
        height: 2px;
        background-color: #ff877e;
        margin: 17px auto;
        @include respond-to(mobile){
            margin: 12px auto;
        }
    }
    &__description{
        color: #ffffff;
        font-family: Roboto;
        font-size: 25px;
        font-weight: 400;
        line-height: 34px;
        width: 531px;
        margin: 0 auto;
        @include respond-to(mobile){
            font-size: 17px;
            line-height: 34px;
            width: 100%;
            margin: 0 auto;
            padding: 0 37px;
        }
    }
    &__img-wrapper{
        margin-top: 30px;
        text-align: center;
        @include respond-to(mobile){
            margin-top: 0px;
            img{
                display: inline-block;
                max-width: 100%;
            }
        }
    }
}
.number-field {
    width: 100%;
    border-radius: 4px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-family: Roboto;
    font-size: 1pc;
    font-weight: 300;
    display: block;
    height:44px;
    position: relative;
    margin-top: 8px;
    input {
        float: left;
        width: calc(100% - 20px);
        height: 42px !important;
        padding: 0;
        border: 0 none;
        font-family: Roboto;
        background: #fff none repeat scroll 0 0;
        border-radius: 8px;
        padding-right: 7px;
        font-size: 26px;
        text-align: center;
        &:focus{
            outline: none;
        }
        &::placeholder{
            font-family: Roboto;
            font-size: 16px;
        }


    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
        margin: 0;
    }
    .arrows {
        width: 38px;
        height: 42px;
        border-left: 1px solid #ccc;
        position: absolute;
        right: 0;
        border-left: 1px solid #ccc;
        overflow: hidden;
        .arrow{
            width: 38px;
            height: 21.5px;
            cursor: pointer;
            opacity: 0.5;
            transition: 0.1s;
            display: block;
            &.maxed{
                cursor: unset;
                background-color: #eee;
                &:hover{
                    opacity: 0.5;
                }
            }
            &:hover{
                opacity: 1;
            }
        }
        .plus-arrow {
            border-bottom: 1px solid #ccc;
            background: url(../img/arrow.svg)  center center no-repeat;
        }
        .minus-arrow {
            transform: rotate(180deg);
            background: url(../img/arrow.svg)  11px 6px no-repeat;
        }
    }
}