$white: #ffffff;
$black: #000;
$red: #cc0000;
$hblue : #53b0ff;


$break-mobile: 767px;
$break-tablet: 1169px;

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

@mixin respond-to($media) {
    @if $media == not-mobile {
        @media only screen and (min-width: 768px) { @content; }
    }
    @if $media == mobile {
        @media only screen and (max-width: $break-mobile) { @content; }
    }
    @if $media == tablet {
        @media only screen and (min-width: 768px) and (max-width: $break-tablet) { @content; }
    }
    @if $media == desktop {
        @media only screen and (min-width: 1280px) { @content; }
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.visible-mobile{
    display: none;
    @include respond-to(mobile){
        display: block;
    }
}
*{
    box-sizing: border-box;
}
body{
    position: relative;
}
a {
    text-decoration: none
}
.row {
    @include clearfix();
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}


.rouble{
    font-family: Roboto;
    font-weight: 400;
}
section {
    width: 100%;
}
.icon-close{
    transform: rotate(45deg);
}
.red{
    color: $red;
}

